@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix react-day-picker tailwind reset issues */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #000000;
  --rdp-background-color: #f3f4f6;
  margin: 0 !important;
}
.rdp-weeknumber-header {
  visibility: hidden;
}
.rdp-day_selected {
  font-weight: bold;
}
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #f3f4f6;
}
